<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>Rappi test - Cube Summation</title>
</head>

<body ng-app="RappiTest">
    <div id="maincontroller" ng-controller="MainController" class="container">
        <div class="jumbotron" id="front-face">
            <img src="https://lh3.googleusercontent.com/8QS9yGm1OxZZJ6s6wUrp1vzo9iL5TZxOInUQe8O7BNIz-Oi5zWb0sXRgmRZQGn8uGw=w300" width="100" alt="">
            <p>Rappi Test</p>
            <p>
                <a class="btn btn-info btn-mt" target="_blank" href="https://www.hackerrank.com/contests/101jan14/challenges/cube-summation" role="button">Cube Summation
                </a>
            </p>
        </div>
        <form action="" onsubmit="return false;" ng-submit="initalizeMatrix()">
            <div class="form-group">
                <label for="">Tamaño Matriz</label>
                <input type="number" class="form-control" id="" placeholder="Tamaño matriz" ng-model="sizeMatrix" ng-disabled="hasInitialized">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Numero de Pruebas</label>
                <input type="number" class="form-control" id="" placeholder="Numero de Pruebas" ng-model="numberOfTest" ng-disabled="hasInitialized">
            </div>
            <button type="submit" class="btn btn-success" ng-disabled="hasInitialized">Success</button>
        </form>
        <br>
        <div class="container">
            <div id="container_handling" ng-if="hasInitialized">
                <h3>Matrix 3D inicializada</h3>
                <blockquote>
                    <p>Tamaño: {{sizeMatrix}}</p>
                    <p>Pruebas: {{numberOfTest}}</p>
                </blockquote>
                <h4>Actualizar Valor</h4>
                <form class="form-inline" ng-submit="addValue();">
                    <div class="form-group">
                        <label for="">X</label>
                        <input type="number" class="form-control" ng-model="updateValues.x" id="" min="0" max="{{sizeMatrix - 1}}" placeholder="X">
                    </div>
                    <div class="form-group">
                        <label for="">Y</label>
                        <input type="number" class="form-control" ng-model="updateValues.y" id="" min="0" max="{{sizeMatrix - 1}}" placeholder="Y">
                    </div>
                    <div class="form-group">
                        <label for="">Z</label>
                        <input type="number" class="form-control" ng-model="updateValues.z" id="" min="0" max="{{sizeMatrix - 1}}" placeholder="Z">
                    </div>
                    <div class="form-group">
                        <label for="">Valor</label>
                        <input type="number" class="form-control" ng-model="updateValues.value" placeholder="Valor">
                    </div>
                    <button type="submit" class="btn btn-default" >Adicionar</button>
                </form>
                <h4>Consultar </h4>
                <form class="form-inline" ng-submit="query();">
                    <div class="form-group">
                        <label for="">X1</label>
                        <input type="number" class="form-control" min="0" ng-model="queryValues.x1" max="{{sizeMatrix - 1}}" id="" placeholder="X1">
                    </div>
                    <div class="form-group">
                        <label for="">Y1</label>
                        <input type="number" class="form-control" min="0" ng-model="queryValues.y1" max="{{sizeMatrix - 1}}" id="" placeholder="Y1">
                    </div>
                    <div class="form-group">
                        <label for="">Z1</label>
                        <input type="number" class="form-control" min="0" ng-model="queryValues.z1" max="{{sizeMatrix - 1}}" id="" placeholder="Z1">
                    </div>
                    <br>
                    <div class="separator"></div>
                    <div class="form-group">
                        <label for="">X2</label>
                        <input type="number" class="form-control" min="0" ng-model="queryValues.x2" max="{{sizeMatrix - 1}}" id="" placeholder="X2">
                    </div>
                    <div class="form-group">
                        <label for="">Y2</label>
                        <input type="number" class="form-control" min="0" ng-model="queryValues.y2" max="{{sizeMatrix - 1}}" id="" placeholder="Y2">
                    </div>
                    <div class="form-group">
                        <label for="">Z2</label>
                        <input type="number" class="form-control" min="0" ng-model="queryValues.z2" max="{{sizeMatrix - 1}}" id="" placeholder="Z2">
                    </div>
                    <div class="separator"></div>
                    <button type="submit" ng-disabled="hasQueies()" class="btn btn-default">Consultar</button>
                </form>
                <br>
                <table class="table table-striped" ng-if="queries.length > 0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>X1</th>
                            <th>Y1</th>
                            <th>Z1</th>
                            <th>X2</th>
                            <th>Y2</th>
                            <th>Z2</th>
                            <th>Resultado</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="query in queries">
                            <td>{{$index + 1}}</td>
                            <th>{{query.x1}}</th>
                            <th>{{query.y1}}</th>
                            <th>{{query.z1}}</th>
                            <th>{{query.x2}}</th>
                            <th>{{query.y2}}</th>
                            <th>{{query.z2}}</th>
                            <th>{{query.result}}</th>
                            <th>{{query.date | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Developer by Einer Perez</p>
      </div>
    </footer>
    <!-- Vendor Libs -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/localforage/dist/localforage.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-localforage/dist/angular-localForage.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <!-- Elements -->
    <script type="text/javascript" src="scripts/elements/matrix.js"></script>
    <!-- Angular App -->
    <script type="text/javascript" src="scripts/app/init.js"></script>
    <script type="text/javascript" src="scripts/app/controllers/maincontroller.js"></script>
</body>

</html>
